@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Table of Contents
    0. Global
    1. Header
    2. Main
        2.1. Settings
        2.2. Grid
    3. Footer  
*/

:root {
    --primary-clr: #e3f2fd;
    --secondary-clr: #212121;
    --bg-clr: #b0bec5;
    --theme-clr: #1A1A47;

    --fs: 3rem;
    --fsMobile: 1.7rem;

    --ff: Arial, Helvetica, sans-serif;

    --bs: rgba(0, 0, 0, 0.24) 0px 3px 8px,
          rgba(0, 0, 0, 0.18) 0px 1px 5px;

    --bs2: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    --grid-cols: 1;
    --grid-rows: 1;
}


/* 0. Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--bg-clr);
    font-family: var(--ff);
}


/* 1. Header */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background: red;
}

.header-title {
    font-family: 'Press Start 2P', cursive;
    color: var(--theme-clr);
    font-size: var(--fs);
    padding: .3em;
    text-align: center;
}


/* 2. Main */
.main {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    max-width: 1100px;
    height: 550px;
    margin: 0 auto;
}


/* 2.1. Settings */
.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    
}

.btn, 
input[type='color']:active {
    transition: transform 0.02s ease-in-out;
    transform: scale(1);
  }
  
input[type='color'] {
    -webkit-appearance: none;
    width: 70px;
    height: 70px;
    border: none;
    cursor: pointer;
  }
  
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
input[type='color']::-webkit-color-swatch {
    border: none;
    box-shadow: var(--bs);
  }
  
.btn {
    background: var(--bg-clr);
    font-size: 1rem;
    padding: .7em 2em;
    width: 100%;
    margin: 1em;
    border-radius: 5px;
    border: 1px solid var(--secondary-clr);
    cursor: pointer;
}

.btn.active {
    background-color: var(--theme-clr);
    color: var(--primary-clr);
}

.btn,
input[type='color'] {
    transition: transform 0.7s ease-in-out;
  }

.btn:hover,
input[type='color']:hover {
    transform: scale(1.05);
  }

.size-value {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background-color: var(--primary-clr);
    cursor: pointer;
    border: none;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid var(--secondary-clr);
    border-radius: 25px;
    background: var(--bg-clr);
  }

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: var(--theme-clr);
  }


/* 2.2. Grid */
#grid {
    display: grid;
    /* grid-gap: 1em; */
    margin-top: 1.3rem;
    grid-template-rows: repeat(var(--grid-rows), 30px);
    grid-template-columns: repeat(var(--grid-cols), 30px);
    background: var(--primary-clr);
    box-shadow: var(--bs2);
}

.grid-item {
    /* padding: 1em; */
    /* border: 1px solid var(--secondary-clr); */
    text-align: center;
    user-select: none;
}


/* 3. Footer */
.footer {
    display: flex;
    color: var(--theme-clr);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
    padding: 1em;
    margin-top: 1.23em;
}

.fa-github {
    margin-left: .3em;
    font-size: 1.2rem;
    color: var(--theme-clr);
}

/* Mobile */
@media (max-width: 768px) {
    .header-title {
        font-size: var(--fsMobile);
    }

    .main {
        flex-direction: column-reverse;
        height: 830px;
        gap: 30px;
    }

    #grid {
        grid-template-rows: repeat(var(--grid-rows), 20px);
        grid-template-columns: repeat(var(--grid-cols), 20px);
        margin: .7em;
    }

}